* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2;
}


h2 {
  font-size: 30px;  
}

h1 {
  font-size: 30px;
}

header {
  background: #564256;
  color: #fff;
  padding: 10px 0;
  height: 10%;
  text-align: center;
}

header h1 {
  margin-bottom: 5px;
  font-size: 24px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.dropdown {
  display: inline-block;
}

.top-buttons {
  width: 100px;
  margin: 10px;
  padding: 10px;
}

.top-buttons:hover {
  background-color: #3f2e42;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  z-index: 1;
  color: black;
}

.dropdown-content a {
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 14px;
  color: black;
}

.dropdown-content a:hover {
  background-color: #afa5c5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#home {
  color: #ffc8dd;
}

#projects {
  color: #CDB4DB;
}

#reflection {
  color: #bde0fe;
}

main {
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
}

section {
  margin-bottom: 20px;
}

.section {
  padding: 15px;
  margin: 15px 10px;
  width: 20%;
  flex: 1;
}

#more-about {
  display: flex;
  text-align: justify;
  justify-content: space-between;
  gap: 5px;
}

.pink {
  background: #ffc8dd;
  color: #3f031a;
}

.blue {
  background: #bde0fe;
  color: #021b31;
}

.purple {
  background: #CDB4DB;
  color: #170024;
}

#about {
  color: #4a4a4a;
}
 
footer {
  background: #564256;
  color: #c7bdc7;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 14px;
  margin-top: 50px;
}

.grid {
  max-width: 1500px;
  margin: 0 auto;
}

.grid-cards{
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-cards div{
  background-color: #c1b5d4;
  padding: 10px;
  border-radius: 5px;
}

.grid-cards div:hover{
  background-color: #61506d;
  color: white;
}

.grid-cards-home{
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
}

.grid-cards-home div{
  background-color: #c1b5d4;
  padding: 10px;
  border-radius: 5px;
}

.grid-cards-home div:hover{
  background-color: #61506d;
  color: white;
}


a{
  color: #0d0c0e;
  text-decoration: none;
}

.reflection-content div{
  padding: 10px 10px;
  margin: 20px 20px;
}

.project-reflection aside{
  width: 35%;
  max-width: 2000px;
  float: right;
  padding: 10px 10px;
  margin-top: 20px;
  display: inline-block;
}


iframe {
  float: left;
  margin: 10px 10px;
  margin-bottom: 100px;
}

#links{
  padding: 20px;
  background-color: #564256;
  color: white;
  align-items: center;
}

#links p{
  text-align: center;
}

.a_links{
  color:white;
}

/* color palette:
light purple: #CDB4DB
light pink: #FFC8DD
darker pink: #FFAFCC
light blue: #BDE0FE
darker blue: #A2D2FF
darkerer purple: #564256 */

#more-about a{
  text-decoration: underline;
  color: #a503fc;
}

.reflection-content a{
  text-decoration: underline;
  color: #a503fc;
}
